<h1>Welcome Coach <%=@coach.name %></h1>


<h3><%= @team.team_name %> Record: <%= "#{@team.wins}-#{@team.losses}" %></h3>


<table style="width 100%">
  <tr>
  <th>Team Name</th><th>Points/Game</th><th>Assists/Game</th><th>Rebounds/Game</th>
  </tr>
  <tr>
    <td><a href=<%="/teams/#{@team.id}" %>><%= @team.team_name %></a></td>
  <% @team.team_stats.each do |stat| %>
    <td><%= (stat/@team.total_games.to_f).round(2) %></td>
  <% end %>
</tr>
</table><br>

<% if @coach == current_user %>
  <a href=<%= "/coaches/#{@coach.id}/edit"%>>Edit Coach</a>
<% end %>
