<h1><%= "Welcome" if @team.coach == current_user %> Coach <%=@coach.name %></h1>


<h3><%= @team.team_name %> Record: <%= "#{@team.wins}-#{@team.losses}" %></h3>


<table style="width 100%">
  <tr>
  <th>Team Name</th><th>Points/Game</th><th>Assists/Game</th><th>Rebounds/Game</th>
  </tr>
  <tr>
    <td><a href=<%="/teams/#{@team.id}" %>><%= @team.team_name %></a></td>
  <% @team.team_stats.each do |stat| %>
    <% if @team.total_games != 0 %>
      <td><%= (stat/@team.total_games.to_f).round(2) %></td>
    <% else %>
      <td>0.0</td>
    <% end %>
  <% end %>
</tr>
</table><br>

<% if @coach == current_user %>
  <a href=<%= "/coaches/#{@coach.id}/edit"%>>Edit Coach</a>
  <form action=<%= "/coaches/#{@coach.id}/delete"%> method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="submit" value="Retire">
  </form>
<% end %>
